#top {
    border-top: 8px solid #0E6472;
    padding-top: 10px;
    border-bottom: 2px solid #e9e9e9;
    text-align: center;
    background:white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    /* border-top: 2px solid #000; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);*/
    z-index: 1000;

}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    position: relative;
    top: 100PX;
    float: left;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    position: relative;
    top: 100px;
    left: 60px;
    /*background-color: #dddddd*/;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
    color: white;
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    color: black;
    font-weight : bold;
    text-decoration : underline;
}

.rf-p-hdr{
    background-image: none !important;
    background-color: #0E6472 !important;
}

.rf-p{
    background-color: white !important;
}

.rf-dt-hdr-c{
    background-image: none !important;
    background-color: #0F7383 !important; 
    color: white !important;
}

.rf-pp-cnt-scrlr{
    background-color: white !important;
  
}

.cssmedicamentos{
    width:  520px !important;
}

.cssexamenes{
    width: 520px !important;
}

.cssimpresion{
    width:  520px !important;
}

.cssordenes{
    width:  520px !important;
}

.tblExamenes{
    width: 520px !important;
}

.cssEditar{
    width:  520px !important;    
}

.rf-tab-cnt{
    background: #ffffff !important;
}

.logout{
    float: right;
    color: #0E6472 !important;
    font-weight : bold;
    text-decoration : underline;
    
}


